DJANGO_SECRET_KEY=your-secret-key
DJANGO_DEBUG=True
DATABASE_NAME=online_store
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
ALLOWED_HOSTS=localhost,127.0.0.1
